nav.navbar.navbar-default
    a(ui-sref="home") OwlCI
    ul.nav.navbar-nav.pull-right.auth-controls
      li(ng-hide='isAuthenticated()')
        a.login(ng-click="loginWith('github')")
          span(ng-if="isAuthenticating")
            span.ball-pulse
              span
              span
              span

          span(ng-if="!isAuthenticating")
            i.fa.fa-github
            span Sign up with GitHub

      li(ng-show='isAuthenticated()')
        a.logout(ng-click='logout()') Logout

