.repos-container {
  max-width: 650px;
  transform-origin: 0 0;
  transition: all 200ms cubic-bezier(.24,.22,.015,1.56), opacity 100ms linear;
  margin: 0 auto;
  opacity: 0;
  margin: 2em auto 5em;
  transform: translateY(10px);

  &.is-loaded {
    transform: scale(1) translateY(-10px);
    opacity: 1;
  }
}

#loading {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  margin: 10em auto 5em;

  .loader {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 4em auto;
  }
}

repo {
  width: 100%;
  padding: 1.1rem 1.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #e0e0e0 solid;
  border-radius: 0 0 0 0;
  border-width: 0 1px 1px;
  // This is shitty and depends on the height of buttons
  // but does vertically align the span
  line-height: 39px;

  &:first-child {
    border-radius: 4px 4px 0 0;
    border-top-width: 1px;
  }

  &:last-child {
    border-radius: 0 0 4px 4px;
  }

  a {
    text-decoration: none;
  }

  .Button--circle {
    margin-left: 12px;
  }
}
