section.login.col-sm-4.col-xs-12.col-center.col-no-padding
  header Login
  form.custom(ng-submit="login()", name="loginForm", role="form")
    .btn.btn-social.btn-github.btn-full(ng-click='loginWith("github")')
      i.fa.fa-github
      span Sign up with GitHub

