%nav.navbar.navbar-default
  %ul.nav.navbar-nav.pull-left
    %a(ui-sref="home") OwlCI

  %ul.nav.navbar-nav.pull-right.auth-controls(ng-hide="isAuthenticated()")
    %li
      %a.login.button(ng-click="loginWith('github')")
        %span(ng-if="isAuthenticating")
          %span.ball-pulse
            %span
            %span
            %span

        %span(ng-if="!isAuthenticating")
          %i.fa.fa-github
          %span.with-fa-icon Sign up with GitHub

  %ul.nav.navbar-nav.pull-right(ng-show="isAuthenticated()")
    %li
      %a(ui-sref="dashboard") Dashboard
    %li
      %a(ng-click='logout()') Logout


