%nav.Navigation
  %section
    %a(ui-sref="home") OwlCI
    %a(ui-sref="docs") Documentation

  %section(ng-hide="isAuthenticated()")
    %a.Button(ng-click="loginWith('github')")
      %span(ng-if="isAuthenticating")
        %span.ball-pulse
          %span
          %span
          %span

      %span(ng-if="!isAuthenticating")
        %i.fa.fa-github
        %span.with-fa-icon Sign up with GitHub

  %section(ng-show="isAuthenticated()")
    %a(ui-sref="dashboard") Dashboard
    %a(ng-click='logout()') Logout


