# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 229d48e90877f7915ca0b54dc8ecce42dc6d1cbae378d356183a05bdbd01e9ac461cc9169665d18e7d0adabc164c5622ca8dadd7318a4adf4d481959b4ddc6cc
  site_url: http://owlci.ngrok.com/

test:
  secret_key_base: de3c076a6c2e0c588af53f9513d61de3ffd35644ce9ce737bf5687177ca2762fdbb1f19d55b9d3624ccf331a8a66aff6aa855671171d6f68a2e424ecba2f3730
  site_url: http://owlci.beta.ngrok.com/

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  site_url: http://owlci.club/
