$primary-color: #2a5d84;

@keyframes scale {
  0% {
    transform: scale(0.0);
    opacity: 1;
  }
  25% {
    transform: scale(0.9, 0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1,1);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
  }
}

// mixins should be separated out
@mixin ball-pulse($n:3, $start:0) {
  @for $i from $start through $n {
    > span:nth-child(#{$i}) {
      animation: scale 0.75s ($i * 0.1s) infinite cubic-bezier(.2,.68,.18,1.08);
    }
  }
}

.ball-pulse {
  @include ball-pulse();

  > span {
    background-color: $primary-color;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    padding: 0 !important;
    margin: 0 2px;
    display: inline-block;
    animation-fill-mode: both;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInAfter {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

