html,
body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

body {
  overflow: scroll;
  color: $body-color;
}

//
// Helper classes
//
.col-center {
  float: none !important;
  margin: 0 auto;
}

.col-no-padding {
  padding: 0;
}

/**
 * Overrides
 */
li {
  list-style-type: none;
}

/**
 *
 */
.fa {
  font-size: 16px;
  margin-left: 1px;
}
