
.navbar {
  width: 100%;
  border-radius: 0;
  background: transparent;
  border: none;
  height: 60px;
  line-height: 60px;
  padding: 10px;
  vertical-align: middle;
  position: relative;
  z-index: 999;

  .navbar-default {
    background: transparent;
    border: 0;
  }

  .navbar-nav {
    margin: 0 3em;

    a {
      @include small-text();

      padding: 0 30px;
    }
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a,  a {
    color: #6a99f0;
  }

  .with-fa-icon {
    padding-left: 0.4em;
  }
}



