
.navbar {
  width: 100%;
  border-radius: 0;
  background: transparent;
  border: none;
  height: 60px;
  line-height: 60px;
  padding: 10px;
  vertical-align: middle;
  position: relative;
  z-index: 999;
  margin-bottom: 10px;

  .navbar-default {
    background: transparent;
    border: 0;
  }

  .navbar-nav {
    margin: 0 3em;

    a {
      @include small-text();

      color: $primary;
      padding: 0 30px;
    }

    .button {
      border-color: $primary;
    }

    li {
      display: inline-block !important;
    }
  }

  .with-fa-icon {
    padding-left: 0.4em;
  }
}



