#hero.flex
  %header
    %div.six.columns
      %img(src="http://www.catawbaschools.net/schools/BallsCreek/Images1/Owls/Blue%20Owl.png")
    %div.six.columns
      %h2.typeout-home
        %strong Owl CI.
        %br/
        Travis CI,
        %br/
        for visual regression testing.

#info.u-full-width
  %section.four.columns.orange
    .img-wrap
      %i.fa.fa-xl.fa-magic
    %strong Magic.
    %p Our aim is to help make you more efficient. We'll do Harry Potter-y things behind the scenes, and let you know if anything is amiss.
  %section.four.columns.green
    .img-wrap
      %i.fa.fa-xl.fa-github-alt
    %strong Integrated.
    %p Owl CI reacts to every pull request and automatically runs in the background. We'll comment when your tests are ready.
  %section.four.columns.turqoise
    .img-wrap
      %i.fa.fa-xl.fa-desktop
    %strong Responsive.
    %p Specify screen heights in your .owl.yml to ensure you can review how your site looks on mobile and web.
  %section.four.columns.purple
    .img-wrap
      %i.fa.fa-xl.fa-thumbs-up
    %strong Handy.
    %p Owl CI will always be free for public repositories. Use it free with your private repositories for a limited time!
