#hero.flex
  %header
    %h2.typeout-home A short description here

#info.u-full-width
  %section.four.columns.orange
    .img-wrap
    %strong Make a point
    %p
      This is describing the point i made aboce.
  %section.four.columns.green
    .img-wrap
    %strong Make a point
    %p
      This is describing the point i made aboce.
  %section.four.columns.turqoise
    .img-wrap
    %strong Make a point
    %p
      This is describing the point i made aboce.
  %section.four.columns.purple
    .img-wrap
    %strong Make a point
    %p
      This is describing the point i made aboce.
