%span.u-pull-left
  %a(ng-if="repo.active && repo.has_yml" ui-sref="builds({user: repo.user, repo: repo.name, repo_obj: repo})")
    %span {{repo.name}}
  %span(ng-if="!(repo.active && repo.has_yml)") {{repo.name}}

%span.u-pull-right(ng-if="repo.active && !requestInProgress")
  %span.Button.Button--circle.Button--danger.tipsy-trigger(ng-click="invertWebhook()" tipsy tipsy-dir="s" title="{{deleteTitle}}")
    %i.fa.fa-close
  %span.Button.Button--circle.Button--success(ng-if="repo.has_yml" ui-sref="builds({user: repo.user, repo: repo.name, repo_obj: repo})")
    %a
      %i.fa.fa-file-image-o
  %span.Button.Button--circle.Button--caution(ng-if="!repo.has_yml" tipsy tipsy-dir="s" title="{{noYmlTitle}}" ui-sref="docs")
    %i.fa.fa-exclamation

%span.Button.u-pull-right(ng-if="!repo.active"
  ng-click="invertWebhook()"
  ng-class="{{repo.status}}"
  ng-hide="requestInProgress")
  Add hook

%span(ng-show="requestInProgress")
  .Button.no-border.u-pull-right
    %span Working...


