%section.container.repo-container(style='border-left: 5px solid {{repo.language_color}}')
  .column.two-thirds
    %h2 {{repo.name}}
    %span.stars {{repo.stars}}
    %span(ng-if="repo.has_yml")
      we have yaml!!!
  .column.one-third
    .button(ng-click="invertWebhook()" ng-class="{{repo.status}}")
      %span(ng-hide="repo.active") Add hook
      %span(ng-show="repo.active") Remove hook



