%section#loading.flex(ng-hide="repos")
  %h5 {{loadingMessage}}
  .loader
    .ball-triangle-path
      %span
      %span
      %span

%section.repos-container(class="{{styleClass}}")
  %section(ng-repeat="repo in repos")
    %repo(repo="repo")
