%section#loading.flex(ng-hide="repos")
  -# %h5 {{loadingMessage}}
  .loader
    .ball-triangle-path
      %span
      %span
      %span

%section.repos-container(class="{{styleClass}}")
  %repo(ng-repeat= "repo in repos"
        repo="repo"
        class="u-cf"
        style='border-left: 5px solid {{repo.language_color}}')
